<header>
    <nav>
        <a id='league' href='{{ constant('BASE_URL') }}/'>THE LEAGUE</a>
        <div class="navigation">
            <a href='{{ constant('BASE_URL') }}/team'>LES TEAMS</a>
            <a href='{{ constant('BASE_URL') }}/player'>LES PLAYERS</a>
            <a href='{{ constant('BASE_URL') }}/match'>LES MATCHS</a>
        </div>
    </nav>
</header>