*
{
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    color: white;
}

body
{
    background-color: #0b132b;
}

a
{
    color: inherit;
    text-decoration: none;
}


/* ================HOME================= */


.navigation
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:15%;
}

nav .navigation a
{
    padding-top: 15px;
    font-size: 15px;
    font-weight: 400;
}

nav a
{ 
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
}

nav a:hover
{
    scale: 1.1;
}

.banniere 
{
    text-align: center;
    background-image: url('../image/home_background_league.png');
    background-size: cover;
    margin:0;

}
.banniere h2 
{
    margin-top: 10px;
    padding-top: 40px;
    font-size: 48px; 
    font-weight: 800;
    padding-bottom: 80px;
    
}
.banniere h3 
{
    padding: 30px;
    font-size: 34px; 
    font-weight: 500;
    padding-bottom: 60px;
}


.team_une h2,
.player_une h2,
.dernier h2
{
    padding-top: 20px;
    width: fit-content;
    margin: 0 auto;
    color: #d4b52f;
    border-bottom: 2px solid #d4b52f;
    padding-bottom: 5px;

}

.player_une h2
{
    color: #d97ab5;
    border-color: #d97ab5;
    margin-bottom: 24px;
}

.dernier h2
{
    color: #45a0ec;
    border-color: #45a0ec;
}

.row_une
{
    display: flex;
    flex-direction: row;
    gap: 15%;
    border: 1px solid #1c2541;
    
    align-items: center;
    padding: 3px;
    padding-left: 25px;
    
    margin: 20px;
}
.row_une img
{
    width: 15.2vw;
    height: auto;
}
.for_une p
{
   color: #d97ab5;
   
   font-weight: 800;

}

.for_une
{
    display: flex;
    flex-direction: row;
    gap: 30%;
}

.team_tuiles
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.column_une img
{
    width: 10.5vw;
    height: 10.5vw;
}

.column_une
{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 15px;
}
.column_une h3
{
   color: #d4b52f;
}

.column_une p
{
   font-size: 13px;
}


.team_tuiles p ,
.player_tuiles h3
{
    text-transform: uppercase;
}

.row2_une
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding-left: 25px;
    margin: 10px;
}

.player_tuiles
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 1px solid #1c2541;
    
    width: 21vw;
    height: 25vw;
    
}
.player_tuiles img
{
    margin-top: 8%;
    width: 84%;
    height: auto;
    
}
.player_tuiles h3
{
    color: #d97ab5;
    font-weight: 400;
}

.player_tuiles h4 
{
    color: #d4b52f;
    font-weight: 400;
}

.matche_du_jour
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    width: fit-content;
    gap: 40px;
    border: 1px solid #1c2541;
    border-radius: 10px;
    padding: 20px;
}

.matche_du_jour p
{
    color: #83a1bb;
    font-size: 11px;
}
.matche_du_jour h3
{
    text-transform: uppercase;
}
.img_matche_du_jour
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8vw;
    padding: 10px;
}
.img_matche_du_jour img
{
    width: 26vw;
    height: auto;
    padding: 0.8vw;
    border: 1px solid #1c2541;
}

/* ================TEAMS================= */

.contenue_teams h2
{
    color: #d4b52f;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding: 25px;
}

.contenue_teams img
{
    width: 17vw;
    height: 17vw;
}

.vrap_teams
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10%;
    padding-bottom: 5%;
    row-gap: 50px;
}

.column_teams
{
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(33.333% - 20px);
    align-items: center;
    gap:5px;
}

.column_teams h3
{
    color: #d4b52f;
    font-weight: 700;
    font-size: 35px;
}

.column_teams h4
{
    font-size: 11px;
    padding-bottom: 10px;
}

.column_teams button
{
    border: 1px solid #d4b52f;
    border-radius: 5px;
    padding: 6px 11px ;
    background-color: transparent;
    color: #d4b52f;
}

.column_teams button:hover
{
    color: #d97ab5;
    border-color: #d97ab5;
    scale: 1.1;
}



 


.matchs h2{
    text-align: center;
    padding: 20px;
    font-size: 2.4vw;
    color: #45a0ec;
}

.match
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    width: fit-content;
    gap: 40px;
    border: 1px solid #1c2541;
    border-radius: 10px;
    padding: 20px;
}

.match p
{
    color: #83a1bb;
    font-size: 11px;
}
.match h3
{
    text-transform: uppercase;
    font-size: 1.8vw;
    color: #45a0ec;
}
.match_img
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8vw;
    padding: 10px;
}
.match_img img
{
    width: 26vw;
    height: auto;
    padding: 0.8vw;
    border: 1px solid #1c2541;
}
