*
{
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    color: white;
}

body
{
    background-color: #0b132b;
}

a
{
    color: inherit;
    text-decoration: none;
}

.navigation
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:15%;
}

nav .navigation a
{
    padding-top: 15px;
    font-size: 15px;
    font-weight: 400;
}

nav a
{ 
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
}

nav a:hover
{
    scale: 1.1;
}

.banniere 
{
    text-align: center;
    background-image: url('../image/home_background_league.png');
    background-size: cover;
    margin:0;

}
.banniere h2 
{
    margin-top: 10px;
    padding-top: 40px;
    font-size: 48px; 
    font-weight: 800;
    padding-bottom: 80px;
    
}
.banniere h3 
{
    padding: 30px;
    font-size: 34px; 
    font-weight: 500;
    padding-bottom: 60px;
}
.row_une img,
.row2_une img
{
    width: 10vw;
    height: 10vw;
}

.team_une h2,
.player_une h2,
.dernier h2
{
    padding-top: 20px;
    width: fit-content;
    margin: 0 auto;
    color: #d4b52f;
    border-bottom: 2px solid #d4b52f;
    padding-bottom: 5px;

}

.player_une h2
{
    color: #d97ab5;
    border-color: #d97ab5;
}

.dernier h2
{
    color: #45a0ec;
    border-color: #45a0ec;
}

.row_une
{
    display: flex;
    flex-direction: row;
    gap: 15%;
    border: 1px solid #1c2541;
    border-radius: 10px;
    align-items: center;
    padding-left: 25px;
    margin: 10px;
}

.column_une img
{
    width: 8vw;
    height: 8vw;
}

.column_une
{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 15px;
}
.column_une h3
{
   color: #d4b52f;
}

.column_une p
{
   font-size: 13px;
}

.for_une p
{
   color: #d97ab5;
}

.for_une
{
    display: flex;
    flex-direction: row;
    gap: 50%;
}

.team_tuiles
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.row2_une
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding-left: 25px;
    margin: 10px;
}

.player_tuiles
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 1px solid #1c2541;
    border-radius: 10px;
    padding: 20px;
}

.player_tuiles h3
{
    color: #d97ab5;
    font-weight: 400;
}

.player_tuiles h4
{
    color: #d4b52f;
    font-weight: 400;
}

.v_vs_o
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    width: fit-content;
    gap: 40px;
    border: 1px solid #1c2541;
    border-radius: 10px;
    padding: 20px;
}

.v_vs_o p
{
    color: #83a1bb;
    font-size: 11px;
}

.img_v_vs_o
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 10px;
}